BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
IndentAccessModifiers: true
UseTab: Never
IndentCaseLabels: true
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Stroustrup
