BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
IndentAccessModifiers: false
UseTab: Never
IndentCaseLabels: true
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
